@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium'cursive;
}

body{
    text-align: center;
    background: linear-gradient( to bottom, #6ab7f5, #fff);
    min-height: 100vh;
}


main{
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;
}

.pokedex{
    width: 80%;
    max-width: 425px;
}

.pokemon_image {
position: absolute;
left: 50%;
bottom: 55%;
transform: translate(-63%, 20%);
height: 18%;
}

.pokemon_data{
    position: absolute;
    font-weight: 800;
    color:#aaa;
    top: 54.5%;
    right: 32.5%;
    font-size: clamp(8px,3vw,22px);
}

.pokemon_name{
    color: #3a444d;
    text-transform: capitalize;

}

.form{
    position: absolute;
    width: 65%;
    top: 65%;
    left: 15.5%;
}

.by{
margin: 21px auto;
font-size: 12px;
color: #272f36;
background-color: #ffffff41;
border-radius: 8px;
width: 50%;
padding: 1px;
}


.input_search{
    width: 80%;
    padding: 4%;
    outline: none;
    border: 2px solid #333;
    border-radius: 5px;
    font-weight: 630;
    color: #3a444d;
    font-size:clamp(8px,3vw,0.9rem);
     box-shadow:-3px 4px 0 #888, -5px 7px 0 #333; /* (x,y, tamanho da sombra, cor da sombra) */
    } 


    .buttons{
        position: absolute;
        bottom: 10%;
        left: 50%;
        width: 45%;
        transform: translate(-57%, 0);
        display: flex;
        gap: 20px;
    }

    .button{
        width: 50%;
        padding: 4%;
        border: 2px solid #000;
        border-radius: 5px;
        font-size: clamp(5px, 4vw,0.78rem);
        font-weight: 600;
        color: white;
        background-color: #444;
        box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
    }

    .button:active{
       box-shadow: inset -4px -4px 0 #222;
       font-size: 0.8rem;
    }


    /* Media Query para dispositivos com largura máxima de 768px (tablet e dispositivos móveis em modo paisagem) */
@media only screen and (max-width: 768px) {
    main {
        margin-top: 5%;
    }

    .pokedex {
        width: 90%;
    }

    .by{
    text-align: center;
    font-size: 14px;
    }

    .input_search{
        font-size: 14px;
        width: 70%;
    }

    .form {
        width: 80%;
        left: 10%;
    }
    .button{
        width: 50%;
        padding: 4%;
        font-size: clamp(5px, 4vw,0.68rem);
       
    }
    .pokemon_name,
    .pokemon_data{
        font-size: 16px;
    }
}

